/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #444;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: hsla(242, 51%, 50%, 0.4);
  min-height: 30px;
  padding: 0.6rem;
  position: fixed;
  text-align: center;
  border-bottom: 0.2rem solid hsl(242, 51%, 60%);
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0.2rem;;
}
/***** shows active page user is on  ***/ 
.home a {
  color: white;
}
#experience a {
  color: white;
}
/***** /shows active page  *****/


.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

.header {
  text-align: center;
  background: url('images/winstonsalem.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  border-bottom: 0.1rem solid #999;
  box-shadow: 0 2px 16px #999;
}
.header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 25% 5% 25% 5%;
  border: 3px solid hsl(36, 48%, 55%);
  transition: all .6s ease-in;
}
header .profile-image:hover {
  border-radius: 50%;
  border: 3px solid white;
  transform: scale(1.2);
}
.name, .header-experience h1 {
  font-family: "Orbitron", sans-serif;
}
.tag {
  background-color: rgb(22, 20, 153);
  color: hsl(242, 100%, 100%);
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
  font-size: 1.1rem;
} 
.location {
  background-color:rgb(22, 20, 153);
  color: hsl(64, 85%, 55%);
}
.card {
  margin: 30px auto 30px;
  padding: 20px 40px 40px;
  max-width: 90%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #ff99ff;
}

.nested {
  padding: 1rem;
}
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 10px;
  margin-bottom: 0;
  background-color: hsla(242, 51%, 70%, 0.8);
  border-top: 0.2rem solid hsl(242, 51%, 60%)
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/*****************************************
 --Start-- Experience page specific styling 
 ******************************************/
 .header-experience {
  text-align: center;
  background: url('images/winston_daytime.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  border-bottom: 0.1rem solid #999;
  margin-bottom: 2.1rem;
  min-height: 300px;
  max-height: 350px;
  box-shadow: 0 2px 16px #999;
}

.header-experience h1 {
  margin-top: 140px;
  font-size: 1.7rem;
}
figure {
  padding: 0.4rem;
  width: 100%;
}

figcaption {
  margin-top: 0.4rem;
}

.bts_wrapper {
  background-color: #999;
  border-radius: 0.4rem;
  border: 1px solid #999;
}


.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 98%;
  margin: auto;
}

.main-content__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border-bottom: 3px solid hsla(242, 51%, 70%, 0.3);
  border-radius: 8px;
  margin: 0.5rem auto 5px ;
}

.main-content__section p {
  padding: 1.2rem;
}
.main-content__section__2 {
  margin-top: 2rem;
}

.main-content__section h2 {
  width: 100%;
  text-align: center;
  background-color: hsl(242, 51%, 70%);
  border-radius: 5px;
  padding: 0.4rem;
  margin: 0.8rem auto 0.5rem;
}

.main-content__h2 {
  width: 100%
 }


.main-content__section img{
  width: 100%;
  height: auto;
}
.main-content__section figure {
  width: 100%;
}



/*******************************************
 --End-- Experience page specific styling 
 *******************************************/


/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  .header, .header-experience {
    min-height: 400px;
    max-height: 415px;
  }

  body {
    max-width: 1200px;
    margin: auto;
  }

  .main-nav {
    max-width: 1200px;
    padding: 0 30px;
    margin: auto;
  }
  

  main {
    padding-top: 20px;
  }
  .main-content {
    padding-top: 0%;
  }

  main p {
    line-height: 1.6em;
  }

  .card {
    max-width: 48%;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto 0 auto;
    margin-bottom: 0;
  }

  .main-content__section h2 {
    width: 50%;
  }
  .main-content__section figure {
    width: 30%;
    margin-right: 0;
  }
  .main-content__section__p {
    width: 60%;
    text-align: justify;
  }
  

}

